.react-flow__handle {
  width: 10px;
  height: 10px;
}


.react-flow__node-default.selectable:hover, 
.react-flow__node-input.selectable:hover, 
.react-flow__node-output.selectable:hover, 
.react-flow__node-group.selectable:hover {
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.08);
}

.react-flow__background{
  background: #FAFAFA;
}